#slide2 {
    position: relative;

    overflow: hidden;
}

#imgContainer2{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: top 1s;
    top: 0px;
}
